<section class="container">
  <header>
    <h1 class="my-4">Orders</h1>
  </header>

  <table class="table table-striped">
    <caption>
      List of all orders with total price and payment method
    </caption>
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Total Price</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td scope="row">{{ order.OrderId }}</td>
        <!-- Display the calculated total price for each order -->
        <td>{{ calculateOrderPrice(order) | currency }}</td>
        <td>{{ order.PaymentType }}</td>
        <td>
          <a
            [routerLink]="['/order-details', order.OrderId]"
            class="btn btn-info"
            >Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
